<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Testing</title>
</head>
<body>
    <form method="post" enctype="multipart/form-data" >
        {% csrf_token %}
        <input type="file" id="myFile" name="myfile">
        <input type="submit">
      </form>
      <br>
      <button onclick="window.location.href='/images/uploadview';";>
       View Uploaded images
      </button>
</body>
</html>